.box1
{
	background-color: yellow;
	width: 25%;
	height: 100px;
	float: right;
}
.box2
{
	background-color: blue;
	width: 25%;
	height: 100px;
	float: right;
}
.box3
{
	background-color: red;
	width: 25%;
	height: 100px;
	float: right;
}

.clearfix
{
	border:1px solid black;
}
