.box1
{
	background-color: yellow;
	width: 25%;
	height: 100px;
	float: left;
}
.box2
{
	background-color: blue;
	width: 25%;
	height: 100px;
	float: left;
}
.box3
{
	background-color: red;
	height: 100px;
	width: 25%;
	float: left;
}

.clearfix
{
	overflow: hidden;	
	border:1px solid black;
}
