.box1
{
	background-color: yellow;
	width: 25%;
	height: 100px;
}
.box2
{
	background-color: blue;
	width: 25%;
	height: 100px;
}
.box3
{
	background-color: red;
	width: 25%;
	height: 100px;
}

.clearfix
{
	border:1px solid black;
}

.clear{

	
	padding: 5% 0 0 70%;

	display: block;
	clear: both;

}
